:root {
    --h4-font-size: 1.40625rem;
    --container-max-sm: 576px;
    --lizard-green: #EBE94D;
    --font-weight-bold: 700;
    --rounded-pill: 50rem;
    --aspect-ratio: 100%;
    --aspect-ratio-16-to-9: 56.25%;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --font-weight-thin: 100;
    --body-bg: #FFF2E2;
    --rspca-blue: #2622F7;
    --swallow-blue: #260071;
    --sheep-white: #FFFAF5;
    --box-shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075);
    --butterfly-blue: #9FDCFD;
    --h3-font-size: 2.25rem;
    --hr-border-width: 1px;
    --blockquote-small-color: #6B6C7E;
    --transition-collapse: height .35s ease;
    --font-weight-medium: 500;
    --hr-border-color: rgba(0, 0, 0, .1);
    --hr-border-margin-y: 1rem;
    --font-family-base: 'Roboto', sans-serif;
    --container-max-md: 768px;
    --border-radius-sm: 0.281rem;
    --fox-red: #ED5334;
    --spacer-0: 0;
    --h6-font-size: 1.40625rem;
    --font-weight-black: 900;
    --h2-font-size: 2.8125rem;
    --lead-font-size: 1.294rem;
    --aspect-ratio-4-to-3: 75%;
    --border-radius: 0.563rem;
    --spacer-9: 3.938rem;
    --spacer-10: 4.5rem;
    --font-weight-light: 300;
    --font-weight-semi-bold: 600;
    --font-weight-normal: 400;
    --spacer-2: 0.563rem;
    --blockquote-small-font-size: 80%;
    --spacer-1: 0.281rem;
    --spacer-4: 1.125rem;
    --spacer-3: 0.844rem;
    --h5-font-size: 1.40625rem;
    --spacer-6: 2.25rem;
    --spacer-5: 1.688rem;
    --spacer-8: 3.375rem;
    --border-radius-circle: 50%;
    --blockquote-font-size: 1rem;
    --spacer-7: 2.813rem;
    --aspect-ratio-8-to-3: 37.5%;
    --transition-fade: opacity .15s linear;
    --border-radius-lg: 0.844rem;
    --container-max-xl: 1200px;
    --font-weight-extra-bold: 800;
    --h1-font-size: 3.9375rem;
    --text-muted: #A7A9BC;
    --lead-font-weight: 300;
    --body-color: #260071;
    --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175);
    --rabbit-white: #FFF2E2;
    --font-size-base: 1.125rem;
    --font-weight-extra-light: 200;
    --container-max-lg: 992px;
}
:root {
    --dark: #260071;
    --dark-80: #1F252C;
    --dark-50: #1F252C;
    --dark-20: #CACBCD;
    --dark-10: #CACBCD;
    --dark-5: #CACBCD;
    --primary: #2622F7;
    --primary-80: #2622F7;
    --primary-50: #9FDCFD;
    --primary-20: #FFF2E2;
    --primary-10: #FFF2E2;
    --primary-5: #FFF2E2;
    --primary-hover: #001D40;
    --secondary: #2622F7;
    --secondary-80: #2622F7;
    --secondary-50: #9FDCFD;
    --secondary-20: #FFF2E2;
    --secondary-10: #FFF2E2;
    --secondary-5: #FFF2E2;
    --secondary-hover: #053030;
    --info: #2622F7;
    --info-80: #2622F7;
    --info-50: #9FDCFD;
    --info-20: #FFF2E2;
    --info-10: #FFF2E2;
    --info-5: #FFF2E2;
    --info-hover: #4E1B4F;
    --success: #51C255;
    --success-80: #51C255;
    --success-50: #51C255;
    --success-20: #E8FCE8;
    --success-10: #E8FCE8;
    --success-5: #E8FCE8;
    --success-hover: #173619;
    --warning: #EBE94D;
    --warning-80: #EBE94D;
    --warning-50: #EBE94D;
    --warning-20: #FFF2E2;
    --warning-10: #FFF2E2;
    --warning-5: #FFF2E2;
    --warning-hover: #B25E10;
    --danger: #D70101;
    --danger-80: #D70101;
    --danger-50: #D70101;
    --danger-20: #FEE4E4;
    --danger-10: #FEE4E4;
    --danger-5: #FEE4E4;
    --danger-hover: #840303;
    --light: #FFF2E2;
    --focus: #FFDD00;
    --link: #0060DF;
}