@import "./theme";

.cart {
  @include flex($gap: $space-400);
  flex-wrap: nowrap;
  @media (max-width: $md) {
  }

  @media (max-width: $xs) {
    flex-wrap: wrap;
  }

  .cart-main {
    @include flex($direction: column, $gap: $space-400);

    .cart-main--h1 {
      @extend .text-preset-1;
      color: $rose-900;
    }

    .cart-main--items {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: $space-300;

      @media (min-width: calc($xl - 1px)) {
        grid-template-columns: auto auto;
      }

      @media (min-width: calc($xs - 1px)) {
        grid-template-columns: auto;
      }
    }
  }
}
