@import "./theme";

.cart-item {
  @include flex($direction: column, $gap: $space-200);

  .cart-img-add-btn {
    @include flex($direction: column, $gap: 0);
    align-items: center;
    position: relative;
    margin-bottom: calc($space-300 - 2px);

    .cart--image {
      width: 240px;
      height: 250px;
    }

    .cart--button {
      position: absolute;
      bottom: calc(($space-300 - 2px) * -1);
      @include flex($gap: $space-100);

      padding: $space-150 $space-300;
      border-radius: 25px;
      border: 1px solid $rose-400;
      background-color: $white;

      svg {
      }
      .cart-button--p {
        @extend .text-preset-4-bold;
      }
    }
  }

  .cart-card-texts {
    .cart--category {
    }

    .cart--name {
    }

    .cart--price {
    }
  }
}
