//Neutralisers --------------------------------------------------
* {
  margin: 0;
  padding: 0;
}

//Breakpoints ---------------------
$mobile: 375px;
$tablets: 768px;
$laptop: 1024px;
$desktop: 1440px;

//Colors -------------------------
$primary: #e7816b;
$primary_variant: #ffad9b;
$secondary: #1d1c1e;
$secondary_variant: #333136;
$background: #ffffff;
$error: #f1f3f5;
$activeButton: #66d2cf;

@media print {
  body {
    background-color: transparent;
  }
}

body {
  background-color: $background;
}

//Fonts -------------------------
$font: "Jost", sans-serif;

@mixin fonts(
  $fam: $font,
  $weight: 500,
  $size,
  $line_height,
  $letter_spacing: +2px,
  $color,
  $style: normal
) {
  font: {
    family: $fam;
    weight: $weight;
    size: $size;
    style: $style;
  }
  letter-spacing: $letter_spacing;
  line-height: $line_height;
  color: $color;
}

@mixin h1_text {
  @include fonts($size: 48px, $line_height: 48px, $color: $secondary_variant);
}

@mixin h2_text {
  @include fonts($size: 40px, $line_height: 48px, $color: $secondary_variant);
}

@mixin h3_text {
  @include fonts(
    $size: 20px,
    $line_height: 26px,
    $letter_spacing: +5,
    $color: $secondary_variant
  );
}

@mixin body_text {
  @include fonts(
    $size: 16px,
    $weight: 400,
    $line_height: 26px,
    $color: $secondary_variant
  );
}

//Borders -------------------------------------------
@mixin border($rad: 5px, $size: 2px, $bord: solid) {
  border-radius: $rad;
  border-width: $size;
  border-style: $bord;
}

//Buttons -------------------------------------------
@mixin button($bg_color, $text_color) {
  background-color: $bg_color;
  color: $text_color;

  @include border();

  button:hover {
    background-color: $secondary_variant;
    color: $secondary;
  }
}

//Flex, Positionining & Sizing ----------------------
@mixin flex($direction: column, $gap: 0%, $align: center, $justify: center) {
  display: flex;
  flex: {
    direction: $direction;
    wrap: wrap;
  }
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin absolute($position: absolute, $top: 0px) {
  position: $position;
  top: $top;
}

@mixin max-res($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

//Test ---------------------------------
@mixin test($tcol: black) {
  background-color: $tcol;
  opacity: 0.5;
  @include border();
  border-color: red;
}
